html,
body,
#root {
  height: 100%;
  width: 100%;
}

header,
footer {
  text-align: center;
}

.col-xl {
  text-align: center;
}

.main-component {
  text-align: center;
}

.logo {
  cursor: pointer;
  position: absolute;
  width: 35px;
  padding: 5px;
}

.primer-logo {
  right: 0;
  bottom: 0;
}

.github-logo {
  left: 0;
  bottom: 0;
}

.btn-primary{
  background-color: #f78874!Important;
  border-color:#f78874!Important;
  margin:  0.5em 0;
}
